/* For portrait mode */
@media only screen and (orientation: portrait) {
    /* Styles for portrait orientation */
    body {
        width: 100vw;
        height: 100vh;
        margin: auto;
        overflow: hidden;
    }
}

// @media only screen and (orientation: landscape) {
//     /* Styles for landscape orientation */
//     body {
//         width: 100vh;
//         height: 100vw;
//         overflow: hidden;
//         margin: auto;
//         transform: rotate(90deg); /* Rotate the layout if needed */
//         transform-origin: center;
//     }
// }

.header-stand-in {
    height: 10vh;
    background-color: antiquewhite;
}

.miniatures-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-auto-columns: 16vh;
    gap: 1vh;
    height: 17vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9); /* Dark background for fullscreen effect */
    z-index: 1000; /* Ensure it's on top */
}

.fullscreen img {
    max-width: 100vw; /* Adapted for the rotated layout */
    max-height: 100vh;
    // object-fit: cover; /* Makes the image cover the rotated area */
}

.fullscreen.active {
    display: flex; /* Show the div only when `active` is true */
}


.focus {
    height: 45vh;
}

.project-information {
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    max-height: 25vh;
    position: relative; /* Keep this for relative positioning */
    h3 {
        margin: 1vh;
    }
}

.description-wrapper {
    padding: 0% 3% 0% 3%;
    height: 21vh; /* Set a maximum height for scrolling */
    overflow-y: scroll; /* Allow vertical scrolling */
    //extend with webkit scrollbar
    p {
        margin-top: 0%;
    }
}

.tag-reveal-button {
    cursor: pointer;
    z-index: 90;
    position: absolute;
    right: 0vh;
    bottom: 0vh;
}

.tag-container {
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    // padding: 2vh 0;
    width: 100%; /* Make it full width of the parent */
}

// .tag-container {
//     cursor: pointer;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//     gap: 1vh;
//     padding: 2vh 0;
//     width: 100%; /* Make it full width of the parent */
//     background-color: rgba(255, 255, 255, 0.6);
//     backdrop-filter: blur(5px);
//     border: 1px solid white;
//     z-index: 100;
//     position: fixed; /* Fixed to the viewport */
//     left: 0; /* Aligns it to the left */
//     bottom: 0; /* Fixes it to the bottom of the viewport */
//     transform: translateY(100%); /* Position off-screen initially */
//     opacity: 0; /* Invisible by default */
//     transition: transform 0.3s ease-out, opacity 0.3s ease-out;
// }

// .tag-container.active {
//     transform: translateY(0); /* Slide into view */
//     opacity: 1; /* Fade in */
// }

.tag-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    // min-width: 50px;
    height: 5px;
    padding: 1vh;
    // border: 2px solid black;
    border-radius: 2vh;
    background-color: rgb(255, 130, 58);
    color: white;
}
