$dimensions: (
   "header-logo-width": 40px,
   "header-logo-height": 40px,

   "header-artist-name-font-size": 18px,

   "header-search-bar-height": 40px,
   "header-search-bar-width": 40px,
   "header-search-bar-padding-left": 5px,
   "header-search-bar-border-radius": 15px,
   "header-search-bar-font-size": 18px,

   "header-search-bar-expanded-width": 260px,

   "header-search-icon-width": 25px,
   "header-search-icon-height": 25px,

   "header-menu-width": 40px,
   "header-menu-height": 40px,

   "header-menu-icon-width": 25px,
   "header-menu-icon-height": 25px
);

$small-scaling-factor: 1.1;
$medium-scaling-factor: 1.2;
$large-scaling-factor: 1.3;
$extra-large-scaling-factor: 1.4;
$extra-extra-large-scaling-factor: 1.5;

@function get-scaled-dimension($name, $scaling-factor) {
    @return map-get($dimensions, $name) * $scaling-factor;
} 

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1%
}

.header-logo-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.header-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1
}

.header-logo {
    width: map-get($dimensions, "header-logo-width");
    height: map-get($dimensions, "header-logo-height");
}

.header-artist-name {
    margin: 0;
    margin-left: 2vw;
    font-family: 'Bebas Neue', sans-serif;
    font-size: map-get($dimensions, "header-artist-name-font-size");
    white-space: no-wrap;
}

.header-search {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.header-search-bar {
    box-sizing: border-box;
    height: map-get($dimensions, "header-search-bar-height");
    width: map-get($dimensions, "header-search-bar-width");
    padding-left: map-get($dimensions, "header-search-bar-padding-left");
    border-radius: map-get($dimensions, "header-search-bar-border-radius");
    transition: width 0.3s ease;
    font-family: 'Bebas Neue', sans-serif;
    font-size: map-get($dimensions, "header-search-bar-font-size");
}

.header-search-bar.expanded {
    width: map-get($dimensions, "header-search-bar-expanded-width");
}

.header-search-icon {
    position: absolute;
    right: calc(map-get($dimensions, "header-search-bar-height") / 6);
    width: map-get($dimensions, "header-search-icon-width");
    height: map-get($dimensions, "header-search-icon-height");
    pointer-events: none;
}

.header-menu {
    margin-left: 1vw;
    width: map-get($dimensions, "header-menu-width");
    height: map-get($dimensions, "header-menu-height");
}

.header-menu-icon {
    width: map-get($dimensions, "header-menu-icon-width");
    height: map-get($dimensions, "header-menu-icon-height");
}

// Media query for small devices
@media (min-width: 576px) {  
    .header-logo {
        width: get-scaled-dimension("header-logo-width", $small-scaling-factor);
        height: get-scaled-dimension("header-logo-height", $small-scaling-factor);
    }
    
    .header-artist-name {
        font-size: get-scaled-dimension("header-artist-name-font-size", $small-scaling-factor);
    }
    
    .header-search-bar {
        height: get-scaled-dimension("header-search-bar-height", $small-scaling-factor);
        width: get-scaled-dimension("header-search-bar-width", $small-scaling-factor);
        padding-left: get-scaled-dimension("header-search-bar-padding-left", $small-scaling-factor);
        border-radius: get-scaled-dimension("header-search-bar-border-radius", $small-scaling-factor);
        font-size: get-scaled-dimension("header-search-bar-font-size", $small-scaling-factor);
    }
    
    .header-search-bar.expanded {
        width: get-scaled-dimension("header-search-bar-expanded-width", $small-scaling-factor);
    }

    .header-search-icon {
        right: calc((get-scaled-dimension("header-search-bar-height", $small-scaling-factor) / 6));
        width: get-scaled-dimension("header-search-icon-width", $small-scaling-factor);
        height: get-scaled-dimension("header-search-icon-height", $small-scaling-factor);
    }
    
    .header-menu {
        width: get-scaled-dimension("header-menu-width", $small-scaling-factor);
        height: get-scaled-dimension("header-menu-height", $small-scaling-factor);
    }
    
    .header-menu-icon {
        width: get-scaled-dimension("header-menu-icon-width", $small-scaling-factor);
        height: get-scaled-dimension("header-menu-icon-height", $small-scaling-factor);
    }
}

// Media query for tablets
@media (min-width: 768px) {  
    .header-logo {
        width: get-scaled-dimension("header-logo-width", $medium-scaling-factor);
        height: get-scaled-dimension("header-logo-height", $medium-scaling-factor);
    }
    
    .header-artist-name {
        font-size: get-scaled-dimension("header-artist-name-font-size", $medium-scaling-factor);
    }
    
    .header-search-bar {
        height: get-scaled-dimension("header-search-bar-height", $medium-scaling-factor);
        width: get-scaled-dimension("header-search-bar-width", $medium-scaling-factor);
        padding-left: get-scaled-dimension("header-search-bar-padding-left", $medium-scaling-factor);
        border-radius: get-scaled-dimension("header-search-bar-border-radius", $medium-scaling-factor);
        font-size: get-scaled-dimension("header-search-bar-font-size", $medium-scaling-factor);
    }
    
    .header-search-bar.expanded {
        width: get-scaled-dimension("header-search-bar-expanded-width", $medium-scaling-factor);
    }

    .header-search-icon {
        right: calc(get-scaled-dimension("header-search-bar-height", $medium-scaling-factor) / 6);
        width: get-scaled-dimension("header-search-icon-width", $medium-scaling-factor);
        height: get-scaled-dimension("header-search-icon-height", $medium-scaling-factor);
    }
    
    .header-menu {
        width: get-scaled-dimension("header-menu-width", $medium-scaling-factor);
        height: get-scaled-dimension("header-menu-height", $medium-scaling-factor);
    }
    
    .header-menu-icon {
        width: get-scaled-dimension("header-menu-icon-width", $medium-scaling-factor);
        height: get-scaled-dimension("header-menu-icon-height", $medium-scaling-factor);
    }
}

// Media query for larger tablets and small laptops
@media (min-width: 992px) {  
    .header-logo {
        width: get-scaled-dimension("header-logo-width", $large-scaling-factor);
        height: get-scaled-dimension("header-logo-height", $large-scaling-factor);
    }
    
    .header-artist-name {
        font-size: get-scaled-dimension("header-artist-name-font-size", $large-scaling-factor);
    }
    
    .header-search-bar {
        height: get-scaled-dimension("header-search-bar-height", $large-scaling-factor);
        width: get-scaled-dimension("header-search-bar-width", $large-scaling-factor);
        padding-left: get-scaled-dimension("header-search-bar-padding-left", $large-scaling-factor);
        border-radius: get-scaled-dimension("header-search-bar-border-radius", $large-scaling-factor);
        font-size: get-scaled-dimension("header-search-bar-font-size", $large-scaling-factor);
    }
    
    .header-search-bar.expanded {
        width: get-scaled-dimension("header-search-bar-expanded-width", $large-scaling-factor);
    }

    .header-search-icon {
        right: calc(get-scaled-dimension("header-search-bar-height", $large-scaling-factor) / 6);
        width: get-scaled-dimension("header-search-icon-width", $large-scaling-factor);
        height: get-scaled-dimension("header-search-icon-height", $large-scaling-factor);
    }
    
    .header-menu {
        width: get-scaled-dimension("header-menu-width", $large-scaling-factor);
        height: get-scaled-dimension("header-menu-height", $large-scaling-factor);
    }
    
    .header-menu-icon {
        width: get-scaled-dimension("header-menu-icon-width", $large-scaling-factor);
        height: get-scaled-dimension("header-menu-icon-height", $large-scaling-factor);
    }
}

// Media query for desktops and large laptops
@media (min-width: 1200px) {  
    .header-logo {
        width: get-scaled-dimension("header-logo-width", $extra-large-scaling-factor);
        height: get-scaled-dimension("header-logo-height", $extra-large-scaling-factor);
    }
    
    .header-artist-name {
        font-size: get-scaled-dimension("header-artist-name-font-size", $extra-large-scaling-factor);
    }
    
    .header-search-bar {
        height: get-scaled-dimension("header-search-bar-height", $extra-large-scaling-factor);
        width: get-scaled-dimension("header-search-bar-width", $extra-large-scaling-factor);
        padding-left: get-scaled-dimension("header-search-bar-padding-left", $extra-large-scaling-factor);
        border-radius: get-scaled-dimension("header-search-bar-border-radius", $extra-large-scaling-factor);
        font-size: get-scaled-dimension("header-search-bar-font-size", $extra-large-scaling-factor);
    }
    
    .header-search-bar.expanded {
        width: get-scaled-dimension("header-search-bar-expanded-width", $extra-large-scaling-factor);
    }

    .header-search-icon {
        right: calc(get-scaled-dimension("header-search-bar-height", $extra-large-scaling-factor) / 6);
        width: get-scaled-dimension("header-search-icon-width", $extra-large-scaling-factor);
        height: get-scaled-dimension("header-search-icon-height", $extra-large-scaling-factor);
    }
    
    .header-menu {
        width: get-scaled-dimension("header-menu-width", $extra-large-scaling-factor);
        height: get-scaled-dimension("header-menu-height", $extra-large-scaling-factor);
    }
    
    .header-menu-icon {
        width: get-scaled-dimension("header-menu-icon-width", $extra-large-scaling-factor);
        height: get-scaled-dimension("header-menu-icon-height", $extra-large-scaling-factor);
    }
}

// Media query for high-res screens
@media (min-width: 1440px) {  
    .header-logo {
        width: get-scaled-dimension("header-logo-width", $extra-extra-large-scaling-factor);
        height: get-scaled-dimension("header-logo-height", $extra-extra-large-scaling-factor);
    }
    
    .header-artist-name {
        font-size: get-scaled-dimension("header-artist-name-font-size", $extra-extra-large-scaling-factor);
    }
    
    .header-search-bar {
        height: get-scaled-dimension("header-search-bar-height", $extra-extra-large-scaling-factor);
        width: get-scaled-dimension("header-search-bar-width", $extra-extra-large-scaling-factor);
        padding-left: get-scaled-dimension("header-search-bar-padding-left", $extra-extra-large-scaling-factor);
        border-radius: get-scaled-dimension("header-search-bar-border-radius", $extra-extra-large-scaling-factor);
        font-size: get-scaled-dimension("header-search-bar-font-size", $extra-extra-large-scaling-factor);
    }
    
    .header-search-bar.expanded {
        width: get-scaled-dimension("header-search-bar-expanded-width", $extra-extra-large-scaling-factor);
    }

    .header-search-icon {
        right: calc(get-scaled-dimension("header-search-bar-height", $extra-extra-large-scaling-factor) / 6);
        width: get-scaled-dimension("header-search-icon-width", $extra-extra-large-scaling-factor);
        height: get-scaled-dimension("header-search-icon-height", $extra-extra-large-scaling-factor);
    }
    
    .header-menu {
        width: get-scaled-dimension("header-menu-width", $extra-extra-large-scaling-factor);
        height: get-scaled-dimension("header-menu-height", $extra-extra-large-scaling-factor);
    }
    
    .header-menu-icon {
        width: get-scaled-dimension("header-menu-icon-width", $extra-extra-large-scaling-factor);
        height: get-scaled-dimension("header-menu-icon-height", $extra-extra-large-scaling-factor);
    }
}